@import "../../bower_components/normalize-scss/normalize";

@import "functions/count-list";
@import "functions/list-sum";

@import "mixins/clearfix";
@import "mixins/box-model";
@import "mixins/transform";
@import "mixins/transition";


@import "grid/grid";

body {
	background-color: #efefef;
}

.content-spacer {

	h1 {
		text-align: center;
		color: #fff;
		margin: 0;
		line-height: 100px;
	}

	&.square {
		height: 100%;
	}
}

.grid-a {
	@include grid(
		'.column',
		100%,
		12,
		(
			0px		: 3 3 3 3 3 3 3 3 3 3 3 3,
			600px	: 4 4 4 4 4 4 4 4 4 4 4 4,
			800px	: 8 4 8 4 8 4 8 4 8 4 8 4,
			1200px	: 6 2 2 2 6 2 2 2 6 2 2 2,
			1600px	: 4 3 2 1 2 4 3 2 1 2 6 6,
		)
	);
}

// .grid-a {
// 	@include grid(
// 		'.column',
// 		100%,
// 		12,
// 		(
// 			0px		: 3 3 3 3 3 3 3 3 3 3 3 3,
// 			500px	: 6 6 6 6 6 6 6 6 6 6 6 6,
// 			600px	: 3 3 3 3 3 3 3 3 3 3 3 3,
// 			700px	: 6 6 6 6 6 6 6 6 6 6 6 6,
// 			800px	: 3 3 3 3 3 3 3 3 3 3 3 3,
// 			900px	: 6 6 6 6 6 6 6 6 6 6 6 6,
// 			1000px	: 3 3 3 3 3 3 3 3 3 3 3 3,
// 			1200px	: 6 6 6 6 6 6 6 6 6 6 6 6,
// 			1300px	: 3 3 3 3 3 3 3 3 3 3 3 3,
// 			1400px	: 6 6 6 6 6 6 6 6 6 6 6 6,
// 			1500px	: 3 3 3 3 3 3 3 3 3 3 3 3,
// 			1600px	: 6 6 6 6 6 6 6 6 6 6 6 6,
// 		)
// 	);
// }
